body {
    padding: 10px;
    background-color: black;
        color: white;
}

.ui.inverted.segment {
    background-color: grey;
}

.ui.inverted.secondary.pointing.menu {
    -background-color: black;
}

.activeitem

.ui.checkbox {
    background-color: black;
    
}

.ui.checkbox label {
    color: white;
}

#ingredients {

}

#ingredients ul li {
    list-style: none;
}